DJANGO_SECRET_KEY=django-insecure-local-development-key
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=terea
POSTGRES_USER=terea
POSTGRES_PASSWORD=terea
POSTGRES_HOST=db
POSTGRES_PORT=5432
